<!-- app.component.html -->

<!-- Cabeçalho da página -->
<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Lista de Receitas</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/receitas/nova" routerLinkActive="active">Adicionar Receita</a>
      </li>
    </ul>
  </nav>
</header>

<!-- Conteúdo principal da página -->
<main class="py-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
